img{
    border-radius: 5px !important;
}

.col-md-3{
    margin : 30px !important;
}

p{
    font-weight: bold;
    font-size: 20px;

}

#navbar{
    background-color: black;
    /* padding: 10px; */
}

 li{
    color: white;
    list-style-type: none;
    display: inline;
    margin-bottom: 15px !important;
}

#nav-elements{
    text-align: center;
    padding: 20px;
}

#title{
    font-size: 30px;
}

#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;

}