body{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    height: 100vh;
}

.col-md-5{
    margin-top: 150px !important;
}

h1{
    text-align: center;
    font-weight: 1000 !important;
    margin: 20px !important;
}

button{
    margin: 20px !important;
}


input{
    display: inline !important;
    border: 2px solid black !important;
    width: 75% !important;
}

li{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    width: 70%;
    display: inline;
    margin: 10px;

}

i{
    color: red;
    margin: 10px;
}