body{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    
}

.col-md-6{
    margin-top: 150px !important;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

input[type=button]{
    width: 100%;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    border: 2px solid black;
}

input[type=text]{
    width: 100%;
}


h1{
    font-weight: bolder;
    margin-top: 15px !important;
}
