body{
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    background-image: url("img.png");
    background-position: center;
    background-repeat: no-repeat;
}

.maindiv{
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    height: 100vh;
    width: 0;
    transition: 0.9s;
}

button{
    margin: 20px !important;
}

ul{
    text-align: center;
}

li{
    list-style-type: none;
    margin: 50px;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 1000;
    display: none;
}