*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif ;
}
body{
    background: rgb(8, 95, 158);
    background: linear-gradient(
        90deg,
        rgb(89, 11, 105) 0%,
        rgb(6, 61, 103) 100%
    );
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.card-body{
    width: 40%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

span{
    font-size: 100px;
    padding: 10px;
    color: grey;
    
}

h1{
    font-weight: 1000;
}

.btn{
    background:none;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

button.increase{
    background: rgb(18, 118, 18);
    color: white;
}

button.increase:hover{
    background: greenyellow;
    color: black;
}

button.decrease{
    background: rgb(167, 3, 3);
    color: white;
}

button.decrease:hover{
    background: rgb(246, 109, 109);
    color: black;
}

button.reset{
    background: rgb(67, 68, 68);
    color: white;
}

button.reset:hover{
    background: rgb(207, 209, 209);
    color: black;
}