body{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.col-md-5{
    margin-top: 150px !important;
    background-color: white;
}

input{
    margin-top: 20px !important;

}

button{
    margin: 20px !important;
   
}

.success{
    border: 3px solid green !important;
}

.error{
    border: 3px solid red !important;
}


small{
    color: red;
    font-weight: bold;
    margin: 5px;
    float: left;
}