body{
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

h1{
    margin-top: 50px !important;
    margin-bottom: 25px !important;
    background-color: darkblue;
    color: white !important;
    border-radius: 50px;
}